<mat-toolbar color="primary" class="container">
  <div class="left">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a routerLink="/">My App</a></span>
    <ul>
      <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/create" routerLinkActive="active-link">New Post</a></li>
    </ul>
  </div>


  <div>
    <ul class='right'>
      <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/login" routerLinkActive="active-link">Login</a></li>
      <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/signup" routerLinkActive="active-link">Signup</a></li>
      <li *ngIf="userIsAuthenticated"><button mat-button (click)="onLogout()">Logout</button></li>
    </ul>
  </div>
  </mat-toolbar>