.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.active-link {
    color: red !important; 
    font-weight: bold !important;
}

.right {
    display: flex;
    align-items: center;
}