<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form (submit)="onLogin(loginForm)" #loginForm='ngForm'>
          <mat-card-content>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input placeholder="E-mail" type="email" name="email" ngModel #emailInput='ngModel' required matInput email>
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
            </mat-form-field>
  
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input placeholder="Password" type="password" name="password" ngModel #passwordInput='ngModel' required matInput>
              <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type='submit' *ngIf="!isLoading">
              Login
            </button>
          </mat-card-content>
      </form>
  </mat-card>  